<div class="container">
    <h2>Tabela de Leituras</h2>
    <div class="mb-3" *ngIf="leituras.length > 1">
        <label for="notaPessoalPesquisa" class="form-label">PESQUISA:</label>
        <input type="text"
                [(ngModel)]="notaPessoalPesquisa"
                id="notaPessoalPesquisa"
                class="form-control"
                placeholder="pesquise por nota pessoal...">
    </div>
    <h4 *ngIf="leituras.length == 0">
        Não há leituras cadastradas!
    </h4>
    <table class="table table-striped" *ngIf="leituras.length > 0">
        <thead>
            <tr>
                <th>Livro</th>
                <th>Data Início</th>
                <th>Data Término</th>
                <th>Status</th>
                <th>Nota</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let leitura of leiturasFiltradas()">
                <td>{{ getTituloLivro(leitura.livroId) }}</td>
                <td>{{ leitura.dataInicio | date:'shortDate' }}</td>
                <td>{{ leitura.dataTermino ? (leitura.dataTermino | date:'shortDate') : '-' }}</td>
                <td>{{ leitura.status }}</td>
                <td>{{ leitura.notaPessoal ?? '-' }}</td>
                <td>
                <button (click)="editar(leitura.id)">Editar</button>
                <button (click)="excluir(leitura.id)">Excluir</button>
                </td>
            </tr>
        </tbody>

    </table>
    <div class="d-flex gap-3">
        <button class="btn btn-success btn-lg" (click)="novaLeitura()">Nova Leitura</button>
        <button class="btn btn-primary btn-lg" (click)="voltarHome()">Voltar</button>
    </div>
</div>