@import "../node_modules/bootstrap/dist/css/bootstrap.css";


/* Para telas menores que 400px */
@media (max-width: 400px) {
  body {
    font-size: 14px; /* diminui fontes até certo ponto */
  }

  .container {
    padding: 10px;     /* mantém algum espaçamento */
    min-width: 320px;  /* não permite encolher mais */
  }
}